<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daejeo.tomato.order.mapper.OrderMapper">

    <select id="getDual" resultType="hashmap">
        SELECT * FROM tb_tomato_order_info
    </select>

    <!-- 주문 정보 입력 -->
    <insert id="orderInfoInsert" parameterType="com.daejeo.tomato.order.vo.OrderReqVo">
        INSERT INTO tb_tomato_order_info (
                tmt_pp_cd
            ,   tmt_pp_etc
            ,   tmt_size_json
            ,   tmt_total_amt
            ,   orderer_idx
            ,   receiver_idx
            ,   ship_memo
            ,   cash_recpt_num
            ,   deposit_yn
            ,   deposit_dt
            ,   sales_price
            ,   note
            ,   regist_dt
            ,   update_dt
        ) VALUE (
                #{tmtPpCd}
            ,   #{tmtPpEct}
            ,   #{tmtSizeJson}
            ,   #{tmtTotalAmt}
            ,   #{ordererIdx}
            ,   #{receiverIdx}
            ,   #{shipMemo}
            ,   #{cashRecptNum}
        <if test=" depositDt == null or depositDt == '' ">
            ,   'N'
        </if>
        <if test=" depositDt != null and depositDt != '' ">
            ,   'Y'
        </if>
        <if test=" depositDt == null or depositDt == '' ">
            ,   null
        </if>
        <if test=" depositDt != null and depositDt != '' ">
            ,   #{depositDt}
        </if>
            ,   #{salesPrice}
            ,   #{note}
            ,   CURRENT_TIMESTAMP
            ,   #{updateDt}
        )
    </insert>

    <!-- 주문자 정보 입력 -->
    <insert id="ordererInsert" parameterType="com.daejeo.tomato.order.vo.OrderReqVo" useGeneratedKeys="true" keyProperty="ordererIdx">
    INSERT INTO tb_orderer_info (
            orderer_nm
        ,   orderer_mobile
        ,   orderer_adr
        ,   orderer_detail_adr
        ,   orderer_zipcode
        ,   regist_dt
        ,   update_dt
        ) VALUES (
            #{ordererNm}
        ,   #{ordererMobile}
        ,   #{ordererAdr}
        ,   #{ordererDetailAdr}
        ,   #{ordererZipcode}
        ,   #{registDt}
        ,   #{updateDt}
        )

    </insert>

    <!-- 수령인 정보 입력 -->
    <insert id="receiverInsert" parameterType="com.daejeo.tomato.order.vo.OrderReqVo" useGeneratedKeys="true" keyProperty="receiverIdx">
        INSERT INTO tb_receiver_info (
            receiver_nm
        ,   receiver_mobile
        ,   receiver_adr
        ,   receiver_detail_adr
        ,   receiver_zipcode
        ,   regist_dt
        ,   update_dt
        ) VALUES (
            #{receiverNm}
        ,   #{receiverMobile}
        ,   #{receiverAdr}
        ,   #{receiverDetailAdr}
        ,   #{receiverZipcode}
        ,   #{registDt}
        ,   #{updateDt}
        )
    </insert>

    <!--주문자 중복체크-->
    <select id="ordererDupCheck" parameterType="com.daejeo.tomato.order.vo.OrderReqVo" resultType="Integer">
        SELECT
            orderer_idx
        FROM tb_orderer_info
        WHERE 1=1
        <if test=" ordererNm == null or ordererNm == '' ">
            and orderer_nm = '신재희'
        </if>
        <if test =' ordererNm != null and ordererNm != "" '>
            and orderer_nm = #{ordererNm}
        </if>
        <if test=" ordererMobile == null or ordererMobile == '' ">
            and orderer_mobile = '010-5392-4329'
        </if>
        <if test =' ordererMobile != null and ordererMobile != "" '>
            and orderer_mobile = #{ordererMobile}
        </if>
    </select>

    <!--받는사람 중복체크-->
    <select id="receiverDupCheck" parameterType="com.daejeo.tomato.order.vo.OrderReqVo" resultType="Integer">
        SELECT
            receiver_idx
        FROM tb_receiver_info
        WHERE 1=1
        <if test =' receiverNm != null and receiverNm != "" '>
            and receiver_nm = #{receiverNm}
        </if>
          <if test =' receiverMobile != null and receiverMobile != "" '>
            and receiver_mobile = #{receiverMobile}
        </if>
    </select>



</mapper>