<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daejeo.tomato.status.mapper.StatusMapper">

    <select id="getStatusList" resultType="com.daejeo.tomato.status.vo.StatusVo">
        SELECT
            ttoi.tmt_ord_idx
        ,   ttoi.tmt_pp_etc
        ,   ttoi.tmt_size_json
        ,   ttoi.tmt_total_cnt
        ,   ttoi.ship_memo
        ,   ttoi.cash_recpt_num
        ,   ttoi.deposit_yn
        ,   ttoi.deposit_dt
        ,   ttoi.sales_price
        ,   ttoi.note
        ,   ttoi.regist_dt
        ,   toi.orderer_idx
        ,   toi.orderer_nm
        ,   toi.orderer_mobile
        ,   tri.receiver_idx
        ,   tri.receiver_nm
        ,   tri.receiver_mobile
        ,   tri.receiver_adr
        ,   tri.receiver_detail_adr
        ,   tri.receiver_zipcode
        ,   tii.invoice_idx
        ,   tii.tmt_box_cnt
        ,   tii.waybill_num
        ,   tii.shipping_fee
        ,   tii.ship_dt
        ,   FN_CODE_NM(ttoi.tmt_pp_cd) AS tmtQlt
        ,   FN_CODE_NM(JSON_EXTRACT(ttoi.tmt_size_json, '$[0].size')) AS tmtOrderSize
        FROM tb_invoice_info tii
        LEFT JOIN tb_tomato_order_info ttoi
               ON tii.tmt_ord_idx = ttoi.tmt_ord_idx
        LEFT JOIN tb_orderer_info toi
               ON ttoi.orderer_idx = toi.orderer_idx
        LEFT JOIN tb_receiver_info tri
               ON tri.receiver_idx = ttoi.receiver_idx
        ORDER BY ttoi.tmt_ord_idx
    </select>

</mapper>