/*All*/
/*.bold {
    font-size: 1.3em;
}*/
table,tr, td, th {
    border: 1px solid #2E2E2E;
    border-collapse: collapse;
}

.temp {
    background-color: burlywood;
}

/*2.5kg Box*/
.oddBox-top {
    display: flex;
}

.oddBox-top-left {
    flex: 1;
}
.oddBox-top-right {
    flex: 1;
    text-align: right;
}

/*5kg Box*/
.evenBox-top {
    display: flex;
}

.evenBox-top-left {
    flex: 1;
}
.evenBox-top-right {
    flex: 1;
    text-align: right;
}