<!DOCTYPE html>
<th:block th:replace="~{basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/exportInvoice.css}"/>

        <div class="wrapper">

            <!--Title-->
            <div class="title bold">송장용 엑셀 내보내기</div>

            <!--2.5kg Box-->
            <div class="oddBox temp">
                <div class="oddBox-top">
                    <div class="oddBox-top-left bold">2.5kg</div>
                    <div class="oddBox-top-right">
                        <a class="btn" href="http://localhost:8080/invoice/excelDownload">2.5kg 내보내기</a>
                    </div>
                </div>
                <!--oddBox table-->
                <div class="eachTableBox temp" style="overflow: auto; max-width: 88em;">
                    <table id="eachBoxTable"  style="white-space:nowrap;" >
                        <tr>
                            <th>주문번호</th>
                            <th>주문날짜</th>
                            <th>토마토품질</th>
                            <th>토마토사이즈</th>
                            <th>토마토박스수량</th>
                            <th>전체주문수량</th>
                            <th>주문자</th>
                            <th>주문자연락처</th>
                            <th>받는사람</th>
                            <th>받는사람연락처</th>
                            <th>받는사람주소</th>
                            <th>배송메세지</th>
                            <th>주문비고</th>
                        </tr>
                        <tr th:each="one: ${one}">
                            <td>[[${one.tmtOrdIdx}]]</td>
                            <td>[[${one.ordererNm}]]</td>
                            <td>[[${one.ordererMobile}]]</td>
                            <td>[[${one.tmtBoxCnt}]]</td>
                            <td>[[${one.tmtTotalCnt}]]</td>
                        </tr>

                    </table>
                </div>
            </div>
                <!--End odd Box-->

            <!--5kg Box-->
            <div class="evenBox temp">
                <div class="evenBox-top">
                    <div class="evenBox-top-left bold">5kg</div>
                    <div class="evenBox-top-right">
                        <button class="btn">5kg, 주스 내보내기</button>
                    </div>
                </div>
                <!--EvenBox table-->
                <div class="dualTableBox temp" style="overflow: auto; max-width: 88em;">
                    <table id="dualBoxTable"  style="white-space:nowrap;" >
                        <tr>
                            <th>주문번호</th>
                            <th>주문날짜</th>
                            <th>토마토품질</th>
                            <th>토마토사이즈</th>
                            <th>토마토박스수량</th>
                            <th>전체주문수량</th>
                            <th>주문자</th>
                            <th>주문자연락처</th>
                            <th>받는사람</th>
                            <th>받는사람연락처</th>
                            <th>받는사람주소</th>
                            <th>배송메세지</th>
                            <th>주문비고</th>
                        </tr>
                        <tr th:each="two: ${two}">
                            <td>[[${two.tmtOrdIdx}]]</td>
                            <td>[[${two.ordererNm}]]</td>
                            <td>[[${two.ordererMobile}]]</td>
                            <td>[[${two.tmtBoxCnt}]]</td>
                            <td>[[${two.tmtTotalCnt}]]</td>
                        </tr>


                    </table>
                </div>
                <!--End even Box-->
            </div>
        </div>

    </th:block>
</th:block>