<!DOCTYPE html>
<th:block th:replace="~{basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/registerInvoice.css}"/>

        <div class="wrapper">

            <!--Title-->
            <div class="title bold">송장번호 등록하기</div>

            <!--SearchBox-->
            <div class="searchBox temp">
                검색검색
                <div>
                    <button class="btn">검색</button>
                    <button class="cancelBtn">초기화</button>
                </div>

            </div>
            <!--End search box-->

            <!--Unregistered invoice Box-->
            <div class="unregisterInvoiceBox temp">
                <div class="unregisterInvoice-top">
                    <div class="unregisterInvoice-top-left">
                        <span>운송장번호 미등록 목록</span>
                    </div>
                    <div class="unregisterInvoice-top-right">
                        <form th:action="@{/invoice/excel/read}" method="POST" enctype="multipart/form-data">
                            <input type="file" th:name="file">
                            <input th:type="submit" value="송장엑셀등록" />
                        </form>
                    </div>
                </div>

                <!--unregistered invoice table-->
                <div class="unregisteredTableBox temp" style="overflow: auto; max-width: 88em;">
                    <table id="unregisteredTable"  style="white-space:nowrap;" >
                        <tr>
                            <th>주문번호</th>
                            <th>주문날짜</th>
                            <th>토마토품질</th>
                            <th>토마토사이즈</th>
                            <th>토마토박스수량</th>
                            <th>전체주문수량</th>
                            <th>주문자</th>
                            <th>주문자연락처</th>
                            <th>받는사람</th>
                            <th>받는사람연락처</th>
                            <th>받는사람주소</th>
                            <th>배송메세지</th>
                            <th>주문비고</th>
                        </tr>
                        <tr th:each="un: ${unRegist}">
                            <td>[[${un.tmtOrdIdx}]]</td>
                            <td>[[${un.registDt}]]</td>
                            <td>[[${un.tmtQlt}]]</td>
                            <td>[[${un.ordererNm}]]</td>
                            <td>[[${un.tmtBoxCnt}]]</td>
                            <td>[[${un.tmtTotalCnt}]]</td>
                            <td>[[${un.ordererNm}]]</td>
                            <td>[[${un.ordererMobile}]]</td>
                            <td>[[${un.receiverNm}]]</td>
                            <td>[[${un.receiverMobile}]]</td>
                            <td>[[${un.receiverAdr}]] &nbsp; [[${un.receiverDetailAdr}]]</td>
                            <td>[[${un.shipMemo}]]</td>
                            <td>[[${un.note}]]</td>
                        </tr>

                    </table>
                </div>
            </div>
            <!--End unregistered Invoice Box-->


        </div>

    </th:block>
</th:block>