<!DOCTYPE html>
<th:block th:replace="~{basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/unpaid.css}"/>

        <div class="wrapper">

            <!--Title-->
            <div class="title bold">미입금조회</div>

            <!--SearchBox-->
            <div class="searchBox temp">
                검색검색
                <div>
                    <button class="btn">검색</button>
                    <button class="cancelBtn">초기화</button>
                </div>

            </div>
            <!--End search box-->

            <!--Unpaid status Box-->
            <div class="unpaidStatusBox temp" style="overflow-x: scroll" >
                <table id="unpaidStatusTable">
                    <tr>
                        <th>주문날짜</th>
                        <th>주문번호</th>
                        <th>토마토품질</th>
                        <th>토마토사이즈</th>
                        <th>주문수량</th>
                        <th>주문자</th>
                        <th>주문자연락처</th>
                        <th>받는사람</th>
                        <th>받는사람연락처</th>
                        <th>받는사람주소</th>
                        <th>배송메세지</th>
                        <th>주문비고</th>
                        <th>현금영수증</th>
                        <th>입금일</th>
                        <th>판매금액</th>
                        <th>배송일</th>
                        <th>배송비</th>
                        <th>운송장번호</th>
<!--                        <th>주문자특이사항</th>-->
                    </tr>

                    <tr th:each="status, idx: ${unPaidList}">
                        <td>[[${status.registDt}]]</td>
                        <td>[[${status.tmtOrdIdx}]]</td>
<!--                        <td>[[${idx.index + 1}]]</td>-->
                        <td>[[${status.tmtPpNm}]]</td>
                        <td>공백</td>
                        <td>공백</td>
                        <td>[[${status.ordererNm}]]</td>
                        <td>[[${status.ordererMobile}]]</td>
                        <td>[[${status.receiverNm}]]</td>
                        <td>[[${status.receiverMobile}]]</td>
                        <td>[[${status.receiverAdr}]]</td>
                        <td>[[${status.shipMemo}]]</td>
                        <td>[[${status.note}]]</td>
                        <td>[[${status.cashRecptNum}]]</td>
                        <td>[[${status.depositDt}]]</td>
                        <td>[[${status.salesPrice}]]</td>
                        <td>[[${status.shipDt}]]</td>
                        <td>[[${status.shippingFee}]]</td>
                        <td>[[${status.waybillNum}]]</td>
<!--                        <td>[[${status.ordererEtc}]]</td>-->
                    </tr>
                </table>
            </div>
            <!--End unpaid status Box-->





        </div>

    </th:block>
</th:block>