<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daejeo.tomato.order.OrderMapper">

    <select id="getDual" resultType="hashmap">
        SELECT * FROM tb_tomato_order_info
    </select>

    <!-- 주문 정보 입력 -->
    <insert id="orderInfoInsert" parameterType="com.daejeo.tomato.order.OrderReqVo">
        INSERT INTO tb_tomato_order_info (
                tmt_order_idx
            ,   tmt_pp_cd
            ,   tmt_pp_etc
            ,   tmt_size_json
            ,   order_idx
            ,   receive_idx
            ,   ship_memo
            ,   cash_recpt_num
            ,   desposit_yn
            ,   deposit_dt
            ,   sales_price
            ,   note
            ,   regist_dt
            ,   update_dt
        ) VALUE (
                #{tmtOrderIdx}
            ,   #{tmtPpCd}
            ,   #{tmtPpEct}
            ,   #{tmtSizeJson}
            ,   #{orderIdx}
            ,   #{receiveIdx}
            ,   #{shipMemo}
            ,   #{cashRecptNum}
            ,   #{depositYn}
            ,   #{depositDt}
            ,   #{salesPrice}
            ,   #{note}
            ,   #{registDt}
            ,   #{updateDt}
        )
    </insert>

    <!-- 주문자 정보 입력 -->
    <insert id="ordererInsert" parameterType="com.daejeo.tomato.order.OrderReqVo">
    INSERT INTO tb_orderer_info (
            orderer_idx
        ,   orderer_nm
        ,   orderer_mobile
        ,   orderer_adr
        ,   orderer_detail_adr
        ,   orderer_zip_num
        ,   regist_dt
        ,   update_dt
        ) VALUES (
            #{ordererIdx}
        ,   #{ordererNm}
        ,   #{ordererMobile}
        ,   #{ordererAdr}
        ,   #{ordererDetailAdr}
        ,   #{ordererZipNum}
        ,   #{registDt}
        ,   #{updateDt}
        )
    </insert>

    <!-- 수령인 정보 입력 -->
    <insert id="receiverInsert" parameterType="com.daejeo.tomato.order.OrderReqVo">
        INSERT INTO tb_orderer_info (
            receiver_idx
        ,   receiver_nm
        ,   receiver_mobile
        ,   receiver_adr
        ,   receiver_detail_adr
        ,   receiver_zip_num
        ,   regist_dt
        ,   update_dt
        ) VALUES (
            #{receiverIdx}
        ,   #{receiverrNm}
        ,   #{receiverMobile}
        ,   #{receiverAdr}
        ,   #{receiverDetailAdr}
        ,   #{receiverZipNum}
        ,   #{registDt}
        ,   #{updateDt}
        )
    </insert>

    <!--주문자 중복체크-->
    <select id="ordererDupCheck" parameterType="com.daejeo.tomato.order.OrderReqVo" resultType="String">
        SELECT
            count(orderer_mobile) as orderer_mobile
        FROM tb_orderer_info
        WHERE 1=1
        <if test =' ordererMobile != null and ordererMobile != "" '>
            and ordererMobile = #{orderer_mobile}
        </if>
    </select>



</mapper>