<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daejeo.tomato.status.StatusMapper">

    <select id="getStatusList" resultType="com.daejeo.tomato.status.StatusVo">
        SELECT
            ttoi.*
        ,   toi.*
        ,   tri.*
        ,   tcc.code_nm
        FROM tb_tomato_order_info ttoi
        LEFT JOIN tb_orderer_info toi
        ON ttoi.orderer_idx = toi.orderer_idx
        LEFT JOIN tb_receiver_info tri
        ON tri.receiver_idx = ttoi.receiver_idx
        LEFT JOIN tb_common_code tcc
        ON ttoi.tmt_pp_cd = tcc.code
        ORDER BY ttoi.tmt_ord_idx DESC
    </select>

</mapper>