<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daejeo.tomato.address.AddressMapper">

    <select id="getOrdererList" resultType="com.daejeo.tomato.address.vo.OrdererVo">
        SELECT
            *
        FROM tb_orderer_info
    </select>

    <select id="getReceiverList" resultType="com.daejeo.tomato.address.vo.ReceiverVo">
        SELECT
            *
        FROM tb_receiver_info
    </select>

</mapper>