<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daejeo.tomato.invoice.mapper.InvoiceMapper">

    <insert id="invoiceListInsert" parameterType="com.daejeo.tomato.invoice.vo.InvoiceReqVo">
        INSERT INTO tb_invoice_info (
            tmt_ord_idx
        ,   tmt_box_cnt
        ,   waybill_num
        ,   ship_dt
        ,   regist_dt
        ) VALUES (
            #{tmtOrdIdx}
        ,   #{tmtBoxCnt}
        ,   #{waybillNum}
        ,   #{shipDt}
        ,   CURRENT_TIMESTAMP
        )
    </insert>



</mapper>